<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_collection_abstract_load_before">
        <observer name="loadDynamicComponents"
                  instance="DavidVerholen\DynamicComponentRegistry\Observer\DynamicComponentRegistrar"
                  shared="true"/>
    </event>
</config>
